* {
    margin: 0px;
    padding: 0px;
}
#root {
    padding: 0px !important;
    font-weight: 100;
}

h1 {
    font-weight: 100; 
    letter-spacing: 6px;
}

h2 {
    font-weight: 350;
    font-size: 300;
    color: #be3409;
    font-size: 4.5em; 
    margin-bottom: -20px;
}

h4 {
    color: #be3409;
}

#dashboredBackGround {
    background-color: #101010;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: left;
    flex-direction: column;
}
#dashboredNavbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0px -50px;
    align-items: center;
}

#navbarLinks {
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.nav-link {
    position: relative;
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background: #be3409;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s ease;
}

.nav-link:hover::after {
    width: 100%;
}

#navbarLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
#navbarUserIcon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1e1e;
    border-radius: 50%;
}
#navbarUnderline {
    width: 100%;
    height: 5px;
    background-color: #be3409;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 10px; /* Adjust if needed to place the line right under the navbar */
}

#dashboredGraph {
    height: 330px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}
#dashboredCompareDiv {
    margin-top: 10px;
    width: 720px;
    height: 355px;
    background-color: rgba(97, 93, 93, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
}
#dashboredCompareTitleDiv {
    width: 670px;
    display: flex;
    justify-content: space-evenly;

}
#dashboredComparePerDiv {
    width: 670px;
    height: 255px;
    background-color: rgba(66, 63, 61, 0.18);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: lighter;
}

#dashboredBet {
    margin-top: 10px;
    width: 95%;
    height: 80px;
    background-color: rgba(22, 22, 22, 0.37);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 20px;
}

.radio-button {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 140px;
    height: 55px;
    margin-bottom: 12.5px;
    background-color: rgba(71, 71, 71, 0.21);
    border: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s;
    margin: 0 7px;
}

.radio-button.selected {
    background-color: #b53737;
    transition: width 2s ease;
}

.radio-button:focus {
    outline: none;
}

.radio-button:hover {
    background-image: linear-gradient(to right, #f01758, #be3409);
    transition: width 2s ease;
}

.chanWinningTxt {
    font-weight: 10;
}

#dashboredBetRight {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    width: 350px;
}
#betBtn {
    background-color: #f74e43;
}

.leftthings {
    margin: 20px 10px 0px 50px;
}
#topBetters {
    width: 490px;
    height: 335px;
    background-color: rgba(97, 93, 93, 0.1);
    margin-top: 4px;
    border-radius: 4px;
    padding-top: 20px;
}



#bettersList {
    list-style: none;
    padding: 0;
  }
  
  #bettersList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(97, 93, 93, 0.1);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .bettorName {
    margin-right: 10px; /* Adjust spacing between name and amount */
    padding-left: 25px;
  }
  
  .betAmount {
    text-align: right;
    padding-right: 20px;

  }
  