.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 7.5px;
}

.login-form {
    background: #1a070742;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #AA4A44;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #AA4A44;
  }