#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
    border-radius: 7.5px;
    justify-content: center;
}

.login-form {
    background: #1a070742;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 480px;
}

.login-form h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-right: 80%;
}

label:first-child {
    margin-right: 87%;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #aa4a44;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #aa4a44;
}
#registerLink {
    margin-top: 15px;
    margin-left: 65%;
}
